@model IEnumerable<MvcAskAnswerProject.Entities.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>

    $(document).ready(function () {
        var tablo = $("#dataTable").DataTable({
            pageLength: 30,
            lengthChange: false,
            pagingType: "full_numbers",
            language: {
                "sDecimal": ",",
                "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                "sInfoEmpty": "Kayıt yok",
                "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                "sLoadingRecords": "Yükleniyor...",
                "sProcessing": "İşleniyor...",
                "sSearch": "Ara:",
                "sZeroRecords": "Eşleşen kayıt bulunamadı",
                "oPaginate": {
                    "sFirst": "İlk",
                    "sLast": "Son",
                    "sNext": "Sonraki",
                    "sPrevious": "Önceki"
                },
                "oAria": {
                    "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                    "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                },
                "select": {
                    "rows": {
                        "_": "%d kayıt seçildi",
                        "0": "",
                        "1": "1 kayıt seçildi"
                    }
                }
            },
            columnDefs: [
                { orderable: false, targets: "nosort" }
            ]
        });
    });

</script>

<div class="container-fluid">
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Baslik)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Aciklama)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AktifMi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EklemeTarihi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DuzenlemeTarihi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EkleyenKullanici)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DuzenleyenKullanici)
                            </th>
                            <th class="nosort">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Baslik)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Aciklama)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AktifMi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EklemeTarihi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DuzenlemeTarihi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EkleyenKullanici)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DuzenleyenKullanici)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>


